* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f0eb;
    font-family: Arial, sans-serif;

}

.Menu {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

}

h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    background-color:rgb(158, 44, 9);
    color: rgb(241, 241, 234);
    border-radius: 11px;

}

.Menu ul {
    list-style: none;
    padding: 4%;
    background-color: rgb(211, 84, 45);
    border-radius: 11px;

}

.Menu li {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px dashed #ccc;
}

.Menu span {
  font-weight: bold;
}